# Ex 1)

In [92]:
'''Ex 1) Input : a string of comma separated numbers. 
The numbers 5 and 8 are present in the list Assume that 8 always comes after 5. 
Case 1: num1 = add all numbers which do not lie between 5 and 8 in the input.
Case 2 : num2= numbers formed by concatenating all numbers from 5 to 8 . 
Output: sum of num1 and num2 
Example: 1)3,2,6,5,1,4,8,9 Num1:3+2+6+9 =20 Num2:5148 O/p=5248+20 = 5168'''

'Ex 1) Input : a string of comma separated numbers. \nThe numbers 5 and 8 are present in the list Assume that 8 always comes after 5. \nCase 1: num1 = add all numbers which do not lie between 5 and 8 in the input.\nCase 2 : num2= numbers formed by concatenating all numbers from 5 to 8 . \nOutput: sum of num1 and num2 \nExample: 1)3,2,6,5,1,4,8,9 Num1:3+2+6+9 =20 Num2:5148 O/p=5248+20 = 5168'

In [93]:
st="3,2,6,5,1,4,8,9"
ara = list(map(int,st.split(','))) 
sum=0
for i in range(ara.index(5)):
    sum+=ara[i]
for i in range(ara.index(8)+1,len(ara)):
    sum+=ara[i]
sum2=''
for i in range(ara.index(5),ara.index(8)+1):
    sum2=sum2+str(ara[i])
print(int(sum2)+sum)

5168

In [94]:
st="3,2,6,5,1,4,8,9"
ara = list(map(int,st.split(','))) 
sum=0
def li(start,index):
    global sum
    for i in range(start,index):
        sum+=ara[i]
    return sum
li(0,ara.index(5))
sum=li((ara.index(8)+1),len(ara))
sum2=''
for i in range(ara.index(5),ara.index(8)+1):
    sum2+=str(ara[i])
print(int(sum2)+sum)

5168

# Ex 2)

In [95]:
'''Ex 2) 
A string which is a mixture of letter and integer and 
special char from which find the largest even number 
from the available digit after removing the duplicates. 

If an even number is not formed then return -1.
Ex : 
I/P : infosys@337 
O/p : -1
    
    
I/P : Hello#81@21349
O/p : 983412'''

'Ex 2) \nA string which is a mixture of letter and integer and \nspecial char from which find the largest even number \nfrom the available digit after removing the duplicates. \n\nIf an even number is not formed then return -1.\nEx : \nI/P : infosys@337 \nO/p : -1\n    \n    \nI/P : Hello#81@21349 \nO/p : 983412'

In [157]:
s1="Hello@8121349"
li=[]
for i in s: 
    if i.isdigit():
        li.append(int(i))
li=list(li)
even=''
for i in li:
    if i%2 ==0:
        even+=str(li.pop(li.index(i)))
        break
if even!='':
    li.sort(reverse=True)
    j=''
    for i in li:
        j+=str(i)
    print(str(j+even))
else:
    print(-1)

9432118

In [163]:
str1="Pandas"
print(str1.isdigit())
print(str1.isalpha())

print(str1.capitalize())
print(str1.istitle())

False
True
Pandas
True

In [147]:
s="Hello@8121349"

[8, 1, 2, 1, 3, 4, 9]

In [154]:
GEEK = {'g', 'e', 'k'} 
  
# adding 's' 
GEEK.add('s') 
print('Letters are:', GEEK) 
  
# adding 's' again 
GEEK.add('s') 
print('Letters are:', GEEK)

Letters are: {'k', 'g', 's', 'e'}
Letters are: {'k', 'g', 's', 'e'}